@import "../../_base.scss";

.video {
  margin-bottom: 1rem;
  padding: 0.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  box-sizing: border-box;
width: 100%;
  .video__top{
    margin-bottom: 0.7rem;
    position: relative;
    img {
      width: 100%;
      border-radius: 10px;
      transition: 0.3s ease-in;
    }
    img:hover{
      border-radius: 0;
    }
    .video__duration {
      position: absolute;
      right: 0.3rem;
      bottom: 0.3rem;
      background-color: black;
      color: #fff;
      padding: 0rem 0.4rem;
      border-radius: 3px;
    }
  }

  .video__bottom{
    
    display: flex;
     
    column-gap: 0.7rem;
    padding-right: 1rem;
    img {

      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
    .right{ 

      display: flex;
      flex-direction: column;
      gap: 0;
     .video__title{
        margin-top: -0.2rem;
        color: #fff;
        @include line-clamp(2);
        // overflow: hidden;
        // display: -webkit-box;
        // -webkit-line-clamp: 2;
        // -webkit-box-orient: vertical;
     }
    }
  }
}
